<div class="column-wrap">
    <h2>
        <span class="tv-only"><a href="/">Leaderboards</a> &gt; </span>
        {{ detail.player.NAME }}
    </h2>

    <section id="player-detail" class="card">
        <div class="player-icon">
            <img data-ng-src="{{ detail.player | defaultIcon:'200' }}"
                alt="{{ detail.player.NAME }} Player icon">
        </div>
        <span class="player-kpi">KDR: {{ [ detail.player.KILLS, detail.player.Death ] | ratio }}</span>
        <span class="player-kpi">Points: {{ detail.player.POINTS | number }}</span>
        <span class="player-kpi">Kills: {{ detail.player.KILLS | number }}</span>
        <span class="player-kpi">Deaths: {{ detail.player.Death | number }}</span>
    </section>

    <h3>Class Stats</h3>
    <section class="card">
        <ul id="class-list">
            <li data-ng-repeat="class in detail.classMap | orderBy:detail.orderByKills:'true'"
                data-ng-hide="$index > 2 && !detail.viewAll.classes">
                <div class="list-icon">
                    <img data-ng-src="{{ class.imgUrl }}" alt="{{ class.name }} Class icon">
                </div>
                <h4>{{ class.name }}</h4>
                <span class="player-kpi">{{ detail.player[ class.killsAttr ] | number }} Kills</span>
                <span class="player-kpi">{{ detail.player[ class.deathsAttr ] | number }} Deaths</span>
                <span class="player-kpi">
                    {{ [ detail.player[ class.killsAttr ], detail.player[ class.deathsAttr ] ] | ratio }} K/D
                </span>
            </li>
        </ul>
        <p>
            <a class="view-all" data-ng-click="detail.toggleView( 'classes' );">
                <span data-ng-hide="detail.viewAll.classes">View All</span>
                <span data-ng-show="detail.viewAll.classes">View Less</span>
            </a>
        </p>

    </section>

    <h3>Weapon Stats</h3>
    <section class="card">
        <ul id="weapon-list">
            <li data-ng-repeat="weapon in detail.weaponMap | orderBy:detail.orderByKills:'true' | filter:detail.atLeastOneKill"
                data-ng-hide="$index > 2 && !detail.viewAll.weapons">
                <div class="list-icon">
                    <img data-ng-src="{{ weapon.iconUrl }}" alt="{{ weapon.name }} Weapon icon">
                </div>
                <h4>{{ weapon.name }}</h4>
                <span class="player-kpi">{{ detail.player[ weapon.killsAttr ] | number }} Kills</span>
            </li>
        </ul>
        <p>
            <a class="view-all" data-ng-click="detail.toggleView( 'weapons' );">
                <span data-ng-hide="detail.viewAll.weapons">View All</span>
                <span data-ng-show="detail.viewAll.weapons">View Less</span>
            </a>
        </p>

    </section>
</div>
