<div class="column-wrap">
    <h3>Leaderboard</h3>

    <br>
    <div>
        <select id="sort-select" data-ng-model="player.sortValue">
            <option value="-POINTS">Most Points</option>
            <option value="-KILLS">Most Kills</option>
            <option value="Death">Fewest Deaths</option>
        </select>
    </div>
    <br>
    <ul class="leaderboard-list">
        <li class="card" data-ng-repeat="user in player.list | orderBy:player.sortValue"
            data-ng-click="player.viewPlayerDetail( user );">
            <div class="player-icon"></div>
            <h2>{{ user.NAME }}</h2>
            <span>KDR: {{ [ user.KILLS, user.Death ] | ratio }}</span>
            <span>Points: {{ user.POINTS }}</span>
            <span>Kills: {{ user.KILLS }}</span>
            <span>Deaths: {{ user.Death }}</span>

            <div class="player-rank">{{ $index + 1 }}</div>
        </li>
    </ul>
</div>
