<div class="column-wrap">
    <div class="desktop-only">
        <h3>
            Leaderboard
            <select id="sort-select" data-ng-model="player.sortValue">
                <option value="-POINTS">Most Points</option>
                <option value="-KILLS">Most Kills</option>
                <option value="Death">Fewest Deaths</option>
            </select>
        </h3>
    </div>

    <ul class="leaderboard-list">
        <li class="card" data-ng-repeat="user in player.list | orderBy:player.sortValue"
            data-ng-click="player.viewPlayerDetail( user );">
            <div class="player-icon">
                <img data-ng-src="{{ user | defaultIcon }}"
                    alt="{{ user.NAME }} Player icon">
            </div>
            <h2 class="player-name">{{ user.NAME }}</h2>
            <ul class="player-kpis">
                <li class="player-kpi"
                    data-ng-hide="player.sortValue !== '-POINTS'"
                    data-ng-class="{ 'active': player.sortValue === '-POINTS' }">
                    {{ user.POINTS | number }}pts
                </li>
                <li class="player-kpi"
                    data-ng-hide="player.sortValue !== '-KILLS'"
                    data-ng-class="{ 'active': player.sortValue !== '-POINTS' }">
                    {{ user.KILLS | number }} kills
                </li>
                <li class="player-kpi"
                    data-ng-hide="player.sortValue !== 'Death'"
                    data-ng-class="{ 'active': player.sortValue !== '-POINTS' }">
                    {{ user.Death | number }} deaths
                </li>
                <li class="player-kpi">
                    {{ [ user.KILLS, user.Death ] | ratio }} k/d
                </li>
            </ul>

            <div class="player-rank">{{ $index + 1 }}</div>
        </li>
    </ul>
</div>
