<!doctype html>

<html lang="en-US" data-ng-app="App" data-ng-controller="Site as site">

    <head>

        <meta charset="utf-8">
        <title>Mann Co Reports</title>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="stylesheet" href="/build/project.css">
        <link rel="shortcut icon" href="/build/images/favicon.ico" type="image/x-icon">
        <base href="/">
    </head>

    <body>
        <header id="page-header" data-ng-include="'modules/_app/templates/navigation-bar.html'"></header>

        <main data-ng-view></main>

        <% if( useDist ) { %>
        <script src="/build/dist.js" defer></script>
        <% } else { %>
        <script src="/build/angular.js"></script>
        <script src="/build/components.js"></script>
        <% if( useSource ) { %>
        <!-- include: "type": "js", "files": "build/modules/*/*.js" -->
        <!-- include: "type": "js", "files": "build/modules/*/*/*.js" -->
        <% } else { %>
        <script src="/build/project.js"></script>
        <% } %>
        <script src="/build/templates.js"></script>
        <% } %>

    </body>

</html>
