#page-header {
    .cf;

    background: @gold;
    color: @white;
    height: ( 2 * @padding-l ) + 40px;

    nav li {
        float: left;
        height: ( 2 * @padding-l ) + 40px;
        margin-right: @padding-xl;
        padding: @padding-l 0;

        a {
            display: block;
            line-height: 40px;
            padding: 0 @padding-m;

            &:hover {
                color: @background;
                text-shadow: 1px 1px 2px rgba( 0, 0, 0, .25 );
            }
        }
    }
}
