@charset "utf-8";

@nodeModules: "../../../../node_modules";
@import (inline) "@{nodeModules}/css-reset/reset.css";

@import "_variables";
@import "_fonts";
@import "_layout";
@import "_typography";
@import "_inputs";

@import "_navigation";
@import "../../player/styles/_animations";
@import "../../player/styles/_leaderboard";
@import "../../player/styles/_player";


* {
    box-sizing: border-box;
}

[data-ng-click] {
    cursor: pointer;
}

main {
    padding: @padding-l;
}

//theme stuff
body {
    background: @light-bkg;
    color: @light-contrast;

    &.dark {
        background-color: @dark-bkg;
        color: @dark-contrast;
    }
}
.theme-light,
.theme-dark {
    border-radius: 5px;
    display: inline-block;
    font-size: @font-size-m;
    margin: -( @padding-xs ) 0;
    padding: @padding-xs @padding-s;
    vertical-align: middle;
    white-space: nowrap;
}
.theme-light {
    background-color: @light-bkg;
    color: @light-contrast;
}
.theme-dark {
    background-color: @dark-bkg;
    color: @dark-contrast;
}

[gear-svg] {
    background: transparent;
    display: inline-block;
    height: ( @rank-square / 2 );
    overflow: hidden;
    padding: @padding-s;
    width: ( @rank-square / 2 );

    svg { fill: @red; }
    &:hover {
        svg { fill: @red-alt; }
    }

    .dark & {
        svg { fill: @blue; }
        &:hover {
            svg { fill: @blue-alt; }
        }
    }
}
