/* Application Styles */
@import "source/modules/_app/styles/_variables";
@import "source/modules/_app/styles/_fonts";
@import (inline) "source/components/css-reset/reset.css";

@import "source/modules/_app/styles/_layout";
@import "source/modules/_app/styles/_typography";
@import "source/modules/_app/styles/_inputs";

/* -- Modules */
@import "source/modules/_app/styles/_navigation";
@import "source/modules/player/styles/_player";


* {
    box-sizing: border-box;
}

body {
    background: @background;
}

[data-ng-click] {
    cursor: pointer;
}

main {
    padding: @padding-l;
}

//theme stuff
body {
    background-color: @light-bkg;
    color: @light-contrast;
    
    &.dark {
        background-color: @dark-bkg;
    }
}
.theme {
    position: absolute;
    z-index: 20;
    right: 20px;
    top: 12px;
    width: 60px;
    
    .theme-light {
        background-color: @light-bkg;
        color: @light-contrast;
    }
    .theme-dark {
        background-color: @dark-bkg;
        color: @dark-contrast;
    }
    a {
        display: block;
        margin-bottom: 4px;
        padding: 5px 0px;
        border-radius: 4px;
        white-space: nowrap;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
    }
}
