/* Application Styles */
@import "source/modules/_app/styles/_variables";
@import "source/modules/_app/styles/_fonts";
@import (inline) "source/components/css-reset/reset.css";

@import "source/modules/_app/styles/_layout";
@import "source/modules/_app/styles/_typography";
@import "source/modules/_app/styles/_inputs";

/* -- Modules */
@import "source/modules/_app/styles/_navigation";
@import "source/modules/player/styles/_player";


* {
    box-sizing: border-box;
}

body {
    background: @background;
}

[data-ng-click] {
    cursor: pointer;
}

main {
    padding: @padding-l;
}
